$primarycolor: #FF9292;
$secondarycolor:#bdd2b6;
$thidcolor:#f8f4e1;
$fontfamily:'Lato', sans-serif;


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0;
}

@media screen and (max-width:575px){
    .menu .cart {
        display: none;
    }
}
.fixed-header{
    background-color: #f8f4e1;
}
.header *{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    margin-top: 8px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 8px;
    font-family: $fontfamily;
    color: black;
    
}

.header{
    
    img{
        position: relative;
        width:50px ;
        margin-left: 100px;
        height: 100%;
    } 
        .logo{ 
            width: 10%;
    }  
    .navbar{
        width: 100%;
    }
            .navbar menu{
                width: 70%;
                text-align: center;
                font-weight: 500;
    
        }  
                .menu-item{
                    padding: 7px 13px;
                    text-decoration:none;
                    color: black;
                }
                
                    li:hover{
                        background-color: #cfdac8;
                        transition: 3s;

                    }
                    a{
                        display: inline-block ;
                        align-items: center;
                        text-decoration: none;
                    }
                    
}

.btn-menu{
    display: none;
}



@media screen and(max-width:575px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu{
        height: 65px;
    }
    .menu-item a{
        font-size: 16px;
    }
    .btn-menu{
        display: inline-flex;
    }

}

main{
    h1{
        font-family: $fontfamily;
        text-align: center;
        padding: 20px;
    }
    .ecoimg{
       position:relative;
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: center;
    }
}

.sabias{
    font-family: $fontfamily;
    display: flex;
    padding: 20px;
    font-style: bold;
    font-size: 25px;
    justify-content: center;
}

.container-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1, 400px);
    background-color: $secondarycolor;
    padding: 5% 10%;
    margin: 20px;
        .fact-card {
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
            background-color:$secondarycolor;
            border-radius: 3px;
            display: flex;
            align-items: center;
            font-family: $fontfamily;
            
        }
        img {
            width: 15vw;
            height: 200px;
            padding: 5px;
            
          }

}

.footer{
    background-color: $thidcolor;
    height: 100%;
    display: flex;
    justify-content: center;
        a {
            font-family: $fontfamily;
            font-size: 18px;
            padding: 20px 50px;
            color: black;
            text-decoration: none;
            
        }
}

